<div class="">
  <ul class="nav nav-pills">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="/register">Register</a></li>
    <li role="presentation"><a href="#">Information</a></li>
    <li role="presentation"><a href="#">About</a></li>
  </ul>
</div>
