<% include partials/header %>

<body>

  <% include partials/nav %>

	<div class="container">

		<h1 class="bg-primary"> BELIEVERS FAST FORM </h1>

		<form class="form" action="">

			<div class="row">
        <div class="col-sm-6">
          <label class="control-label" for="name">Name</label>
					<input class="form-control" type="text" id="name" placeholder="Jean Réjean">
				</div>
        <div class="col-sm-6">
          <label class="control-label" for="lastName">Last Name</label>
					<input class="form-control" type="text" id="lastName" placeholder="Roy Gagne">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3">
          <label class="control-label" for="ageGroup">Age Group</label>
					<select class="form-control" id="ageGroup">
						<option value="">--- Select One ---</option>
						<option value="1">Under 18</option>
						<option value="2">18 - 25</option>
						<option value="3">26 & Above</option>
					</select>
				</div>
				<div class="col-sm-3">
          <label class="control-label" for="ageGroup">Gender</label>
					<select class="form-control" id="gender">
						<option value="">--- Select One ---</option>
						<option value="M">Male</option>
						<option value="F">Female</option>
					</select>
				</div>

        <div class="col-sm-3">
					<label class="control-label" for="languaje">Languaje</label>
					<select class="form-control" id="languaje">
            <option value="">--- Select One ---</option>
						<option value="M">English</option>
						<option value="F">French</option>
					</select>
				</div>

			</div>

      <div class="row">
        <div class="col-sm-12">
          <label class="control-label" for="phone">Phone Number</label>
        </div>
      </div>
      <div class="row">
				<div class="col-sm-1">
           <input class="form-control" type="text" id="pref" placeholder="+1">
        </div>
        <div class="col-sm-2">
           <input class="form-control" type="text" id="phone" placeholder="Phone (O/H)">
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
				</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="control-label" for="email">Email Address</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
					<input type="text" class="form-control" id="email" placeholder="Email Address name@domain.abc">
				</div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
				</div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <label class="control-label" for="socialNetwork">Social Network</label>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
					<select class="form-control" id="socialNetwork">
            <option value="">--- Select One ---</option>
						<option value="Facebook">Facebook</option>
						<option value="Twitter">Twitter</option>
					</select>
				</div>
        <div class="col-sm-3">
					<input type="text" class="form-control" id="social" placeholder="ID">
				</div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
				</div>
      </div>

  <% include partials/footer %>
